/*colour scheme https://visme.co/blog/website-color-schemes/  */
:root {
  --bgMain: #ffffff;
  /*--bgDeckTabs: #C5C6C7;*/
  --bgDeckTabs: #ffffff;
  /*--fontMainColour: #45A29E*/
  --fontMainColour: #000000;
  --outLineColour: #A662D3;
  --bgColour:#ffffff;
  --borderWidths:3px;
  --boxShadow: 1px 1px 8px #9649cb;

  --fontColourAdded: #00BD9D; 
}



body {
  /*background-color: var(--bgMain);*/
  margin:0px;
}

#title-div{
  display:flex;
  justify-content:center;
  background-color: #A662D3;
  background-image: url("res/backgrounds/TitleBar.png");
  box-shadow: 5px 1px 10px #8a36c3;
}

#title{
  margin-top:2px;
  padding-top:10px;
  color: var(--bgMain);
}

.bg-image {
  margin: 0px;
  padding:0px;
  /*background-image: url("res/backgrounds/bg1.png");*/
  background-color: var(--bgColour);
  min-height:1000px;
  background-position: center;
  background-size: cover;
  background-repeat:repeat;
  position: relative;
}

#compare-button-wrapper {
  display:flex;
  justify-content:center;
}

#compare-button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border-width: var(--borderWidths);
  background-color: var(--bgDeckTabs);
  color: var(--fontMainColour);
  border-color: var(--outLineColour);
  font-weight: 600;
  font-size: 16px;
  box-shadow: var(--boxShadow);
}

#button-block-wrapper {
  display:flex;
  justify-content:center;
}

#button-wrapper {
  padding:6px;
}

#deck-display-wrapper {
  display:flex;
  justify-content:center;
}

.deck-card {
  width: 250px;
  border-radius:10px;
  background-color: var(--bgDeckTabs);
  color: var(--fontMainColour);
  font-weight: 600;
  font-size: 14px;
  padding:10px;
  margin:10px;
  border:solid;
  border-color:var(--outLineColour);
  border-width:var(--borderWidths);
  white-space:pre-line;
  box-shadow: var(--boxShadow);
}

.deck-card-compare {
  width: 250px;
  border-radius: 10px;
  background-color: var(--bgDeckTabs);
  color: var(--fontMainColour);
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
  border: solid;
  border-color: var(--outLineColour);
  border-width: var(--borderWidths);
  box-shadow: var(--boxShadow);
}

#cards-added {
  color: var(--fontColourAdded);
  font-weight: 700;
  font-size: 16px;
  white-space: pre-line;
  margin:0px;
}

#cards-removed {
  color: #DB3512;
  font-weight: 700;
  font-size: 16px;
  white-space: pre-line;
  margin:0px;
}


#deck-button {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  border-width: var(--borderWidths);
  background-color: var(--bgDeckTabs);
  color: var(--fontMainColour);
  border-color: var(--outLineColour);
  font-weight:600;
  font-size:24px;
  box-shadow: var(--boxShadow);
}


#submit-button-wrapper {
  display:flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  height:30px;
}

.copy-submit-1 {
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom: none;
  border-color: var(--outLineColour);
  background-color: var(--bgDeckTabs);
  color: var(--fontMainColour);
  border-width: var(--borderWidths);
  font-weight:inherit;
  box-shadow: var(--boxShadow);
}

.copy-submit-2 {
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom: none;
  border-color: var(--outLineColour);
  background-color: var(--bgDeckTabs);
  color: var(--fontMainColour);
  border-width: var(--borderWidths);
  font-weight: inherit;
  box-shadow: var(--boxShadow);
}

.deck-card-copy {
  width: 250px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--bgDeckTabs);
  color: var(--fontMainColour);
  font-weight: 600;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom:5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: solid;
  border-color: var(--outLineColour);
  border-width: var(--borderWidths);
  white-space: pre-line;
  resize:none;
  box-shadow: var(--boxShadow);
}

#copy-paste-wrapper {
  margin: 10px;
  font-weight: 600;
}